body {
  font-family: 'Jost', sans-serif;
  margin: 0;
}

#pet-header {
    display: flex;
    justify-content: center;
    background: #6fb1e7;
    opacity: .8;
    height: 6rem;
    padding: 0em 0em 2em 0em;

}

#nav-bar {
    display: block;
    justify-content: center;
    background: #a4eba9;
    opacity: .8;
    height: auto;
    padding: 1rem;
    font-size: larger;
    font-weight: bold;

}

#pet-header img {
    height: 150px;
    width: 100px;
}

#pet-collection {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
  text-align: center;
  border-radius: 2rem;
  border: grey solid 1px;
  padding: 1rem;
  width: 17rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #464e47; 
}

.card h2, h4 {
  line-height: .15em;
  margin: .5em;
}

.pet-avatar {
    justify-self: center;
    height: 11rem;
    width: auto;
    border: 1px solid black;
    border-radius:0.25rem;
}


.modal-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .85);
  position: fixed;
  z-index: 1;
}

.modal-content {
  width: 65%;
  height: 65%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color:#d0ecd1;
  z-index: 2;
  padding: 40px;
  overflow: auto;
  
}


.modal-content li {
  list-style: none;
  line-height: 1.8em;
}

.modal-content img{
    margin-left: 2em;
    margin-right: 2em;
    float: left;
    border-radius: 50%;
    height: 15em;
    width: auto;
}


.info h2{
  margin-top: 1.5em;
}

.info h2, h3{
  display: inline-block;
  line-height: .25em;
}

.ul-div {
  position: absolute; 
  bottom: 7px;
}


.hide {
  display: none;

}

.show {
  display: block;
}

.btn-styles {
  display: inline-block;
  width: max-content;
  padding:.35em .75em;
  border:0.1em solid #354941;
  background-color:#ee4f4f; 
  margin:0.75em;
  margin-left: auto;
  margin-right: auto;
  border-radius:0.25rem;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 0.75em;
  font-weight:bold;
  color:#051638;
  text-align:center;
  transition: all 0.2s;
  }

  .btn-styles:hover {
    color:#000000;
    background-color:#FF8C94 
  }

  .wanna-play {
    margin-left: 35%;
  }

  .pd-delete {
    float:right;
    margin: 0px 20px;
  }

  .pd-update {
    float:right;
    margin: 0px 20px;
  }

  select, input {
    padding:0.25em .25em;
    margin:.5em;
    border-radius: 0.25rem;
    border: 1.5px solid #A8E6CE;
    height: 17px;
    background-color: #EFEFEF;
  }

  select {
    height: max-content;
    background-color:#EFEFEF;
  }


